<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>HealthCareSystem</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PatientController</display-name>
    <servlet-name>PatientController</servlet-name>
    <servlet-class>com.hostmdy.controller.PatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientController</servlet-name>
    <url-pattern>/patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>com.hostmdy.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.hostmdy.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/adminsignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientLoginController</display-name>
    <servlet-name>PatientLoginController</servlet-name>
    <servlet-class>com.hostmdy.controller.PatientLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLoginController</servlet-name>
    <url-pattern>/patientlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorController</display-name>
    <servlet-name>DoctorController</servlet-name>
    <servlet-class>com.hostmdy.controller.DoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorController</servlet-name>
    <url-pattern>/doctorlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentController</display-name>
    <servlet-name>AppointmentController</servlet-name>
    <servlet-class>com.hostmdy.controller.AppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentController</servlet-name>
    <url-pattern>/appointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentShowController</display-name>
    <servlet-name>AppointmentShowController</servlet-name>
    <servlet-class>com.hostmdy.controller.AppointmentShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentShowController</servlet-name>
    <url-pattern>/appointmentshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientDoctorController</display-name>
    <servlet-name>PatientDoctorController</servlet-name>
    <servlet-class>com.hostmdy.controller.PatientDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientDoctorController</servlet-name>
    <url-pattern>/patientdoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientAppointmentController</display-name>
    <servlet-name>PatientAppointmentController</servlet-name>
    <servlet-class>com.hostmdy.controller.PatientAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientAppointmentController</servlet-name>
    <url-pattern>/patientappointment</url-pattern>
  </servlet-mapping>
</web-app>